/Coin.py
/CoinDetector.py
/coins
/coins_detector.mp4
/coins_detector.pdf
/coins_detector.zip
/database_coins.csv
/database_coins_test.csv
/database_coins_train.csv
/database_coins_val.csv
/detected_coins
/examplePytorch.py
/examples
/filter.py
/filterGradient.py
/hough_transform.py
/perfil3_oscuro_.jpg
/perfil3_oscuro_2.jpg
/processFiles.py
/prueba.py
/train.py